@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body, input, button, select, textarea, optgroup, option, form, fieldset, table, i, b, p, a, li, tr, td, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.display-none {
  display: none;
}

.pad {
  padding: 20px 20px;
}

.background-white {
  background-color: white;
}

.btn {
  border-radius: 2px;
}

.container-md {
  max-width: 600px;
}